<title>
  <%= typeof meta !== 'undefined' && meta.title
    ? meta.title
    : "รถกระเช้าไทย บริการเช่า รายวัน รายเดือน | Rodkrachaothai"
  %>
</title>

<meta
  name="description"
  content="<%= typeof meta !== 'undefined' && meta.description
    ? meta.description
    : 'บริการให้เช่า บูมลิฟท์ เอ็กซ์ลิฟท์ รถกระเช้า รายวัน รายเดือน'
  %>"
>

<meta property="og:type" content="website">

<meta
  property="og:title"
  content="<%= typeof meta !== 'undefined' && meta.title
    ? meta.title
    : 'รถกระเช้าไทย'
  %>"
>

<meta
  property="og:description"
  content="<%= typeof meta !== 'undefined' && meta.description
    ? meta.description
    : 'เว็บไซต์หางานชลบุรี'
  %>"
>

<meta
  property="og:image"
  content="<%= typeof meta !== 'undefined' && meta.image
    ? meta.image
    : 'https://www.chonburijobs.com/images/default-og.jpg'
  %>"
>

<meta
  property="og:url"
  content="<%= typeof meta !== 'undefined' && meta.url
    ? meta.url
    : 'https://www.chonburijobs.com'
  %>"
>

<meta name="twitter:card" content="summary_large_image">