<div class="min-h-screen">
    <section class="relative text-center min-h-[80vh] md:min-h-[80vh] w-full">
        <div class="absolute inset-0 max-w-7xl mx-auto p-6 flex z-10">
            <div class="text-gray-100 font-[kanit]">
                <h1 class="text-2xl md:text-3xl text-start p-1">ผู้ให้บริการเช่า</h1>
                <h2 class="text-3xl md:text-5xl font-semibold text-start p-1">BOOM LIFT</h2>
                <p class="text-xl md:text-3xl p-1 text-start">และ</p>
                <h2 class="text-3xl md:text-5xl font-semibold text-start p-1">SCISSOR LIFT</h2>
                <p class="text-xl md:text-4xl text-start p-1">แบรนด์ชั่นนำระดับโลก</p>
                <span class="p-4">
                    <p class="text-xl font-light md:font-medium md:text-2xl text-start p-1">JLG และ Genie คุณภาพสูง ปลอดภัย ได้มาตรฐาน</p>
                    <p class="text-xl font-light md:font-medium md:text-2xl text-start p-1">พร้อมทีมงานมืออาชีพ บริการภาคอุตสาหกรรมและทั่วประเทศ</p>
                </span>
                <span class="flex flex-col md:flex-row gap-4">
                    <a href="/contact"
                    class="flex gap-2 bg-blue-700 hover:bg-blue-600 text-white px-4 py-2 rounded transition text-xl">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-notepad-text-icon lucide-notepad-text"><path d="M8 2v4"/><path d="M12 2v4"/><path d="M16 2v4"/><rect width="16" height="18" x="4" y="4" rx="2"/><path d="M8 10h6"/><path d="M8 14h8"/><path d="M8 18h5"/></svg>
                        ขอใบเสนอราคา
                    </a>
                    <a href="tel:0954240440"
                   class="flex gap-2 items-center border-2 border-gray-100 hover:bg-gray-50/10 transition rounded px-4 py-2 text-xl">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5 text-gray-100">
                    <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z" clip-rule="evenodd" />
                    </svg>
    
                    โทรเลย 095-424-0440
                    </a>
                </span>
                <a href="/machines"
                class="flex gap-2 text-white py-4 hover:underline transition font-light">
                    ดูเครื่องจักรทั้งหมด
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right-icon lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
                </a>

            </div>
        </div>
        <!-- Background Image -->
        <div
            class="absolute inset-0 bg-cover bg-right md:bg-center"
            style="background-image: url('/images/bg-hero.png');" alt="รถกระเช้าไทย">
        </div>

        <!-- Gradient Overlay -->
        <div
            class="absolute inset-0 bg-gradient-to-r from-slate-900/99 via-blue-900/85 to-sky-700/20">
        </div>
        
    </section>
    <section class="w-full bg-white font-[kanit]">

        <div class="max-w-7xl mx-auto p-6">
            <h2 class="text-xl text-gray-800 mb-6">สินค้าและบริการของเรา</h2>
            <div class="grid grid-cols-1 lg:grid-cols-2 w-full gap-6 text-gray-800">
                
                <div class="relative min-h-[35vh] md:min-h-[45vh] border-2 border-slate-300 rounded p-4">
                    
                    <span class="absolute top-4 left-4 p-4">
                        <h2 class="text-xl font-semibold">บูมลิฟท์ (Boom Lift)</h2>
                        <h4>แบรนด์ JLG และ Genie</h4>
                        <span class="p-1">
                            <li>ความสูงทำงาน 11-43 เมตร</li>
                            <li>เข้าถึงพื้นที่ยกได้ดี</li>
                            <li>เหมาะกับงานภายนอกอาคาร</li>
                            <li>มีทั้งระบบดีเซลและไฟฟ้า</li>
                        </span>
                    </span>

                    <span class="w-full flex items-center justify-end">
                        <img src="/images/models/660sj.webp" alt="บูมลิฟท์" class="w-3xs lg:w-3xs">
                    </span>
                    
                    <a href="/machines" class="absolute left-4 bottom-4 px-4 py-2 bg-orange-600 hover:bg-orange-500 transition rounded z-10 text-gray-100">
                        ดูบูมลิฟท์ทั้งหมด
                    </a>
                </div>

                <div class="relative min-h-[35vh] md:min-h-[45vh] border-2 border-slate-300 rounded p-4">
                    
                    <span class="absolute top-4 left-4 p-4">
                        <h2 class="text-xl font-semibold">เอ็กซ์ลิฟท์ (Scissor Lift)</h2>
                        <h4>แบรนด์ JLG และ Genie</h4>
                        <span class="p-1">
                            <li>ความสูงทำงาน 7-18 เมตร</li>
                            <li>ใช้งานในอาคารและโรงงาน</li>
                            <li>ระบบไฟฟ้า 100%</li>
                            <li>น้ำหนักเบา กะทัดรัด</li>
                        </span>
                    </span>

                    <span class="w-full flex items-center justify-end">
                        <img src="/images/models/gs-4655.webp" alt="เอ็กซ์ลิฟท์" class="w-3xs lg:w-2xs">
                    </span>
                    
                    <a href="/machines" class="absolute left-4 bottom-4 px-4 py-2 bg-blue-800 hover:bg-blue-700 transition rounded z-10 text-gray-100">
                        ดูเอ็กซ์ลิฟท์ทั้งหมด
                    </a>
                </div>
                
            </div>
        </div>

        
          
    </section>


    <section class="text-center min-h-[60vh] md:min-h-[80vh] w-full bg-white">
        <div class="max-w-7xl mx-auto p-6 flex">
            <div class="flex justify-between items-center w-full font-[kanit]">
                <h2 class="text-xl text-gray-800">เครื่องจักรพร้อมให้บริการ</h2>
                <a href="/machines"
                class="flex items-center gap-2 py-4 hover:underline transition text-blue-900">
                    ดูทั้งหมด
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right-icon lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
                </a>
            </div>
        </div>

        <div class="max-w-7xl mx-auto px-6">

            <div class="swiper machineSwiper">

                <div class="swiper-wrapper">

                    <% machineRandom.forEach(machine => { %>

                        <div class="swiper-slide">

                            <div class=" rounded overflow-hidden shadow hover:shadow-lg transition bg-white border-2 border-slate-300">

                                <img
                                    src="<%= machine.image_url %>"
                                    alt="<%= machine.model %>"
                                    class="w-full h-48 object-contain p-4">

                                <div class="p-4">
                                    <%
                                            let brandColor = "text-gray-500";

                                            switch (machine.brand_name) {
                                                case "Genie":
                                                    brandColor = "text-blue-900";
                                                    break;

                                                case "JLG":
                                                    brandColor = "text-orange-600";
                                                    break;

                                                case "Haulotte":
                                                    brandColor = "text-red-600";
                                                    break;

                                                case "Sinoboom":
                                                    brandColor = "text-green-600";
                                                    break;
                                            }
                                            %>

                                    <h3 class="font-semibold text-lg font-[kanit]">
                                        <span class="<%= brandColor %> font-bold"><%= machine.brand_name %></span>   
                                        <%= machine.model %>
                                    </h3>
                                    <div class="w-full p-2">
                                        <p class="text-left py-1">ความสูงทำงาน <%= machine.working_height %> เมตร</p>
                                        <p class="text-left py-1">รับน้ำหนัก <%= machine.working_height %> กิโลกรัม</p>
                                        <p class="text-left py-1 font-semibold"><%= machine.power_th %></p>
                                        <a href="/machines/<%= machine.slug %>"
                                        class="text-center mt-4 transition text-orange-600 hover:underline transition">
                                            ดูรายละเอียด
                                        </a>
                                    </div>

                                </div>

                            </div>

                        </div>

                    <% }) %>

                </div>

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

                <div class="swiper-pagination"></div>

            </div>

        </div>
        
        
    </section>
    <section class="w-full bg-gradient-to-r from-slate-900 via-blue-900 to-sky-700 py-4">
        
        <div class="max-w-7xl mx-auto p-4 font-[kanit] text-gray-100">
            <h2 class="text-gray-100 text-2xl text-start py-4 mb-6">ทำไมต้องเลือกเรา</h2>
            <div class="w-full grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-4">
                <div class="flex gap-2 py-4">
                    <span class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shield-check-icon lucide-shield-check p-1 rounded-xl bg-blue-800"><path d="M20 13c0 5-3.5 7.5-7.66 8.95a1 1 0 0 1-.67-.01C7.5 20.5 4 18 4 13V6a1 1 0 0 1 1-1c2 0 4.5-1.2 6.24-2.72a1.17 1.17 0 0 1 1.52 0C14.51 3.81 17 5 19 5a1 1 0 0 1 1 1z"/><path d="m9 12 2 2 4-4"/></svg>
                    </span>
                    <span>
                        <strong>ปลอดภัย มาตรฐานสากล</strong>
                        <p>ตรวจเช็คก่อนส่งมอบ</p>
                    </span>
                </div>
                <div class="flex gap-2 py-4">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-clock-icon lucide-clock p-1 rounded-xl bg-blue-800"><circle cx="12" cy="12" r="10"/><path d="M12 6v6l4 2"/></svg>
                    </span>
                    <span>
                        <strong>ส่งตรงเวลา</strong>
                        <p>ส่งมอบตามนัดหมาย</p>
                    </span>
                </div>

                <div class="flex gap-2 py-4">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-round-cog-icon lucide-user-round-cog p-1 rounded-xl bg-blue-800"><path d="m14.305 19.53.923-.382"/><path d="m15.228 16.852-.923-.383"/><path d="m16.852 15.228-.383-.923"/><path d="m16.852 20.772-.383.924"/><path d="m19.148 15.228.383-.923"/><path d="m19.53 21.696-.382-.924"/><path d="M2 21a8 8 0 0 1 10.434-7.62"/><path d="m20.772 16.852.924-.383"/><path d="m20.772 19.148.924.383"/><circle cx="10" cy="8" r="5"/><circle cx="18" cy="18" r="3"/></svg>
                    </span>
                    <span>
                        <strong>ทีมงานมืออาชีพ</strong>
                        <p>ให้คำปรึกษาโดยผู้เชี่ยวชาญ</p>
                    </span>
                </div>

                <div class="flex gap-2 py-4">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-text-icon lucide-file-text p-1 rounded-xl bg-blue-800"><path d="M6 22a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h8a2.4 2.4 0 0 1 1.704.706l3.588 3.588A2.4 2.4 0 0 1 20 8v12a2 2 0 0 1-2 2z"/><path d="M14 2v5a1 1 0 0 0 1 1h5"/><path d="M10 9H8"/><path d="M16 13H8"/><path d="M16 17H8"/></svg>
                    </span>
                    <span>
                        <strong>เอกสารครบถ้วน</strong>
                        <p>เอกสารตรวจรถ / ใบเสนอราคา / ใบกำกับ</p>
                    </span>
                </div>

                <div class="flex gap-2 py-4">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-hand-coins-icon lucide-hand-coins p-1 rounded-xl bg-blue-800"><path d="M11 15h2a2 2 0 1 0 0-4h-3c-.6 0-1.1.2-1.4.6L3 17"/><path d="m7 21 1.6-1.4c.3-.4.8-.6 1.4-.6h4c1.1 0 2.1-.4 2.8-1.2l4.6-4.4a2 2 0 0 0-2.75-2.91l-4.2 3.9"/><path d="m2 16 6 6"/><circle cx="16" cy="9" r="2.9"/><circle cx="6" cy="5" r="3"/></svg>
                    </span>
                    <span>
                        <strong>ราคายุติธรรม ยืดหยุ่น</strong>
                        <p>ยิ่งใช้มาก ยิ่งประหยัด</p>
                    </span>
                </div>

                <div class="flex gap-2 py-4">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-toolbox-icon lucide-toolbox p-1 rounded-xl bg-blue-800"><path d="M16 12v4"/><path d="M16 6a2 2 0 0 1 1.414.586l4 4A2 2 0 0 1 22 12v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 .586-1.414l4-4A2 2 0 0 1 8 6z"/><path d="M16 6V4a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v2"/><path d="M2 14h20"/><path d="M8 12v4"/></svg>
                    </span>
                    <span>
                        <strong>Support รวดเร็ว</strong>
                        <p>ทีมงาน พร้อมให้การช่วยเหลือ</p>
                    </span>
                </div>

            </div>
            

        </div>
        
        
    </section>

    <section class="w-full py-4 bg-white">
        
        <div class="max-w-7xl mx-auto p-4 font-[kanit] text-blue-900">
            <h2 class="text-blue-900 text-xl font-semibold py-4">เหมาะกับงานประเภทไหน</h2>
            <div class="w-full grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-4">

                <div class="flex gap-2 py-4 items-center border-r-2 border-slate-300">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-crane pr-2"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M6 21h6" /><path d="M9 21v-18l-6 6h18" /><path d="M9 3l10 6" /><path d="M17 9v4a2 2 0 1 1 -2 2" /></svg>
                    </span>
                    <span>
                        <p class="text-gray-800">งานก่อสร้าง</p>
                    </span>
                </div>
                <div class="flex gap-2 py-4 items-center border-r-2 border-slate-300">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-building-factory-2"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M3 21h18" /><path d="M5 21v-12l5 4v-4l5 4h4" /><path d="M19 21v-8l-1.436 -9.574a.5 .5 0 0 0 -.495 -.426h-1.145a.5 .5 0 0 0 -.494 .418l-1.43 8.582" /><path d="M9 17h1" /><path d="M14 17h1" /></svg>
                    </span>
                    <span>
                        <p class="text-gray-800">โรงงานอุตสาหกรรม</p>
                    </span>
                </div>
                <div class="flex gap-2 py-4 items-center border-r-2 border-slate-300">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-bolt"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M13 3l0 7l6 0l-8 11l0 -7l-6 0l8 -11" /></svg>
                    </span>
                    <span>
                        <p class="text-gray-800">งานระบบไฟฟ้า</p>
                    </span>
                </div>
                <div class="flex gap-2 py-4 items-center border-r-2 border-slate-300">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-flame"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 10.941c2.333 -3.308 .167 -7.823 -1 -8.941c0 3.395 -2.235 5.299 -3.667 6.706c-1.43 1.408 -2.333 3.294 -2.333 5.588c0 3.704 3.134 6.706 7 6.706c3.866 0 7 -3.002 7 -6.706c0 -1.712 -1.232 -4.403 -2.333 -5.588c-2.084 3.353 -3.257 3.353 -4.667 2.235" /></svg>
                    </span>
                    <span>
                        <p class="text-gray-800">งานระบบดับเพลิง</p>
                    </span>
                </div>
                <div class="flex gap-2 py-4 items-center border-r-2 border-slate-300">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-tool"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M7 10h3v-3l-3.5 -3.5a6 6 0 0 1 8 8l6 6a2 2 0 0 1 -3 3l-6 -6a6 6 0 0 1 -8 -8l3.5 3.5" /></svg>
                    </span>
                    <span>
                        <p class="text-gray-800">งานซ่อมบำรุง</p>
                    </span>
                </div>
                <div class="flex gap-2 py-4 items-center">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-building-warehouse"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M3 21v-13l9 -4l9 4v13" /><path d="M13 13h4v8h-10v-6h6" /><path d="M13 21v-9a1 1 0 0 0 -1 -1h-2a1 1 0 0 0 -1 1v3" /></svg>
                    </span>
                    <span>
                        <p class="text-gray-800">คลังสินค้า</p>
                    </span>
                </div>
                

            </div>
            

        </div>
        
        
    </section>


    <section class="w-full py-4 bg-white">
        
        <div class="max-w-7xl mx-auto p-4 font-[kanit] text-blue-900">
            <h2 class="text-blue-900 text-2xl font-semibold py-6">เช่าง่าย เพียง 4 ขั้นตอน</h2>
            <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
                

                <div class="relative flex gap-4 p-6 border-2 border-slate-300 rounded h-36 bg-white">
                    <span class="absolute top-2 left-2 w-8 h-8 flex items-center justify-center rounded-full bg-slate-300">
                        <p class="text-blue-900 font-semibold text-lg">1</p>
                    </span>
                    <span class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-phone-call"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" /><path d="M15 7a2 2 0 0 1 2 2" /><path d="M15 3a6 6 0 0 1 6 6" /></svg>
                    </span>
                    <span>
                        <h2 class="text-gray-800 font-semibold text-lg">ติดต่อสอบถาม</h2>
                        <p class="text-gray-600">โทร / Line ติดต่อพุดคุย</p>
                    </span>
                </div>

                <div class="relative flex gap-4 p-6 border-2 border-slate-300 rounded h-36 bg-white">
                    <span class="absolute top-2 left-2 w-8 h-8 flex items-center justify-center rounded-full bg-slate-300">
                        <p class="text-blue-900 font-semibold text-lg">2</p>
                    </span>
                    <span class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-building-community"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M8 9l5 5v7h-5v-4m0 4h-5v-7l5 -5m1 1v-6a1 1 0 0 1 1 -1h10a1 1 0 0 1 1 1v17h-8" /><path d="M13 7l0 .01" /><path d="M17 7l0 .01" /><path d="M17 11l0 .01" /><path d="M17 15l0 .01" /></svg>
                    </span>
                    <span>
                        <h2 class="text-gray-800 font-semibold text-lg">แจ้งลักษณะงาน</h2>
                        <p class="text-gray-600">ความสูง พื้นที่หน้างาน ระยะเวลาการใช้</p>
                    </span>
                </div>
                <div class="relative flex gap-4 p-6 border-2 border-slate-300 rounded h-36 bg-white">
                    <span class="absolute top-2 left-2 w-8 h-8 flex items-center justify-center rounded-full bg-slate-300">
                        <p class="text-blue-900 font-semibold text-lg">3</p>
                    </span>
                    <span class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-file-spreadsheet"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2" /><path d="M8 11h8v7h-8l0 -7" /><path d="M8 15h8" /><path d="M11 11v7" /></svg>
                    </span>
                    <span>
                        <h2 class="text-gray-800 font-semibold text-lg">รับใบเสนอราคา</h2>
                        <p class="text-gray-600">เสนอราคา และคอนเฟิร์มวันใช้งาน</p>
                    </span>
                </div>
                <div class="relative flex gap-4 p-6 border-2 border-slate-300 rounded h-36 bg-white">
                    <span class="absolute top-2 left-2 w-8 h-8 flex items-center justify-center rounded-full bg-slate-300">
                        <p class="text-blue-900 font-semibold text-lg">4</p>
                    </span>
                    <span class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-truck-delivery"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M5 17a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M15 17a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M5 17h-2v-4m-1 -8h11v12m-4 0h6m4 0h2v-6h-8m0 -5h5l3 5" /><path d="M3 9l4 0" /></svg>
                    </span>
                    <span>
                        <h2 class="text-gray-800 font-semibold text-lg">ส่งมอบเครื่องจักร</h2>
                        <p class="text-gray-600">จัดส่งถึงหน้างาน ตามที่นัดหมาย</p>
                    </span>
                </div>
                
                
                

            </div>
            

        </div>
        
        
    </section>

    <section class="w-full py-4 bg-white">
        
        <div class="max-w-7xl mx-auto p-4 font-[kanit] text-blue-900">
            
            <div class="w-full grid grid-cols-1 md:grid-cols-3 gap-4">
                

                <div class="col-span-1 p-6 bg-white text-lg text-gray-800">
                    
                    <div class="px-10">
                        <h2 class="text-blue-900 text-2xl font-semibold py-4">พื้นที่ให้บริการ</h2>
                        <li>ชลบุรี</li>
                        <li>ระยอง</li>
                        <li>จันทบุรี</li>
                        <li>ฉะเชิงเทรา</li>
                        <li>สมุทรปราการ</li>
                        <li>กรุงเทพฯ ปริมณฑล</li>
                        <li>สมุทรสาคร</li>
                        <li>ปราจีนบุรี</li>
                        <li>อยุธยา</li>
                        <li>ปทุมธานี</li>
                        <li>สระบุรี</li>
                        <p class="text-blue-800">และพื้นที่อื่นๆ ทั่วประเทศ</p>
                    </div>
                </div>
                <div class="col-span-2 p-4">
                    <img src="/images/map_th.png" alt="" class="w-lg px-10">
                </div>
            </div>
            

        </div>
        
        
    </section>

    <section class="w-full py-4 bg-white">
        <div class="max-w-7xl mx-auto p-4 font-[kanit] text-blue-900">
            <h2 class="text-blue-900 text-2xl font-semibold py-4">บทความล่าสุด</h2>
            <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
                <div class="flex gap-4 p-6 border-2 border-slate-300 rounded h-64 bg-white">
                    
                    
                </div>
                <div class="flex gap-4 p-6 border-2 border-slate-300 rounded h-64 bg-white">
                    
                    
                </div>
                <div class="flex gap-4 p-6 border-2 border-slate-300 rounded h-64 bg-white">
                    
                    
                </div>
                <div class="flex gap-4 p-6 border-2 border-slate-300 rounded h-64 bg-white">
                    
                    
                </div>
            </div>
        </div>
    </section>



    <section class="w-full bg-gradient-to-r from-slate-800 via-blue-900 to-sky-800 py-4">
        
        <div class="max-w-7xl mx-auto p-4 font-[kanit] text-gray-100 grid grid-cols-1 lg:grid-cols-2 gap-4">
            <div class="col-span-1">
                <h2 class="text-gray-100 text-2xl text-start">ต้องการเช่า บูมลิฟท์ หรือ เอ็กซ์ลิฟท์ ?</h2>
                <p class="text-lg">ปรึกษาฟรี! ทีมงานพร้อมให้คำแนะนำ</p>
            </div>
            <div class="col-span-1 grid grid-cols-1 lg:grid-cols-2 items-center gap-4">
                <div class="flex gap-2">
                    <span class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-phone-call p-1 border-2 rounded-full"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" /><path d="M15 7a2 2 0 0 1 2 2" /><path d="M15 3a6 6 0 0 1 6 6" /></svg>
                    </span>
                    <span>
                        <h2 class="text-2xl font-semibold">095-424-0440</h2>
                        <p>จันทร์-เสาร์ 08.00-17.00 น.</p>
                    </span>

                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <span class="">
                        <a href="/contact"
                        class="flex gap-2 bg-blue-700 hover:bg-blue-600 text-white px-4 py-2 rounded transition text-lg flex justify-center">
                            เสนอราคา
                        </a>
                    </span>
                    <span>
                        <a href="tel:0954240440"
                    class="flex gap-2 items-center border-2 border-gray-100 hover:bg-gray-50/10 transition rounded px-4 py-2 text-lg flex justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5 text-gray-100">
                        <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z" clip-rule="evenodd" />
                        </svg>
        
                        โทรเลย
                        </a>
                    </span>
                </div>

            </div>
        </div>
        
        
    </section>





    

</div>